@layer utilities{
  :root{
    --offset-banner:176px;
    --offset-banner-sm:170px;
    --offset-banner-lg:140px;
    --offset-banner-xxl:184px;
  }
  /* 在手機版nav open的時候禁止背景滾動條滾動 */
  .l-prevent-scroll {
    @apply fixed w-full
  }
  /* 滿寬的容器 */
  .l-container-fluid{
    @apply max-w-screen-fhd w-full px-3 sm:px-5 md:px-10 xl:px-20 
  }
  .l-radial-gradient{
    @apply bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-neutral-linearlight to-neutral-lineardark from-0% to-70%
  }
}